body {
	font-family: "Hind Siliguri", sans-serif;
}

.ek-navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 30px;
	border-bottom: 1px solid #eee;

	&__logo {
		a {
			font-size: 2rem;
			font-weight: 700;
			letter-spacing: -1px;
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__menu {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				display: inline-block;
				margin-left: 15px;
				a {
					display: block;
				}
			}
		}
	}
}
